{% extends "base.html" %}
{% load static %}

{% block Content %}
<head>
	<meta charset="utf-8">
	<title>{% block title %}
      Mail  Sender | RecipientAddress
	{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<div class="wrapper">
		<div class="inner">
			{% block messages %}
					<ul class="messages" id="messages-list">
					{% if messages %}
						{% for message in messages %}
						<li>
							{% if message.tags %}
								<div class="alert alert-{{ message.tags }} msg fade show" role="alert">{{ message }}</div>
							{% else %}
								<div class="alert alert-info msg fade show" role="alert">{{ message }}</div>
							{% endif %}
						</li>
						{% endfor %}
					{% endif %}
					</ul>
				{% endblock %}
			<form method="post">
				{% csrf_token %}
				<h3>Add Email Address</h3>
				<p>Add as many address as you want </p>
				{% load crispy_forms_tags %}
				<!-- <label class="form-group">
					<input type="text" class="form-control" name="email"  required>
					<span for="">Your Mail</span>
					<span class="border"></span>
				</label>

				<label class="form-group">
					<input type="text" class="form-control" name="email"  required>
					<span for="">Your Mail</span>
					<span class="border"></span>
				</label> -->

				{{ form | crispy }}
				
				<button type="submit">Add
					<i class="zmdi zmdi-arrow-right"></i>
				</button>
			</form>
			<button  type="submit"><a href="{% url 'create-mail' %}">Done</a>
				<i class="zmdi zmdi-arrow-right"></i>
			</button>
		</div>
	</div>
	
</body>
{% endblock Content %}
