{% extends "base.html" %}
{% load static %}

{% block Content %} 

{% load crispy_forms_tags %}         

<head>
	<meta charset="utf-8">
	<title>{% block title %}
      Mail  Sender | SignIn
	{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<div class="wrapper">
		<div class="inner">
			<form method="post">
				{% csrf_token %}
				<h3>Sign In</h3>
                {{ form|crispy }}

                <button type="submit">Sign In</button>
                <p class="text-center">Don't have an account! , <a href="{% url 'register' %}">Register Now</a> instead.</p>
			</form>
		</div>
	</div>
	
</body>


{% endblock %}