{% extends 'base.html' %}

{% block title %}
  Lead Details | CRM
{% endblock title %}

{% block content %}

<section class="text-gray-400 bg-gray-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">LEAD DETAILS</h2>
        <h1 class="text-white text-3xl title-font font-medium mb-4">{{lead.title}}</h1>

        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">
            Over View
          </a>
          <a href={% url 'leads:update' lead.id %} class="flex-grow border-b-2 border-gray-800 py-2 text-lg px-1">
            Edit
          </a>
        </div>
        
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Account Name</span>
          <span class="ml-auto text-white">{{lead.account_name}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Contact Person</span>
          <span class="ml-auto text-white">{{lead.contact_name}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Manager</span>
          <span class="ml-auto text-white">{{lead.manager}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Phone No</span>
          <span class="ml-auto text-white">{{lead.phone}}</span>
        </div>
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Owner</span>
          <span class="ml-auto text-white">{{lead.owner}}</span>
        </div>
        <div class="flex">

          <a href="{% url 'leads:delete' lead.id %}" class="w-1/2 mt-3 flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
            Delete
          </a>
          {% comment %} <a href="{% url 'leads:lead-section' %}" class="rounded-full w-10 h-10 bg-gray-800 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
          Back
          </a> {% endcomment %}
        </div>
      </div>
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400">
    </div>
  </div>
</section>










  {% comment %} <h1>Lead Details</h1>

  <h5> Lead Account's Name : {{lead.account_name}}</h5>
  <h5> Lead Contact's Name : {{lead.contact_name}}</h5>
  
  <hr>
  
  <div class="lead">
    <h5> {{lead.title}} {{lead.account_name}}  {{lead.contact_name}}  {{lead.phone}} </h5> 
    <br>
      <a class="btn btn-sm btn-info" href="{% url 'leads:update' lead.id %}">Update</a> 
      <a class="btn btn-sm btn-danger" href="{% url 'leads:delete' lead.id %}">Delete</a>
  </div>
  
  <hr> 
  <br>
  <a href="{% url 'leads:lead-section' %}"> Back </a> {% endcomment %}

  {% endblock content %}