{% extends 'base.html' %}


{% block title %}
    Log Out Page | CRM
{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-white p-3">
                    <h2 class="mb-6">Log Out Page</h2>
                    <hr>
                    <div class="alert alert-danger">
                        <h4> You Have Been Logged Out</h4>
                    </div>

                    <a href="{% url 'user-login' %}">login</a>

                </div>
            </div>
        </div>
    </div>
                



{% endblock content %}